<section class='faculty-page'>
    
<div class="search">
        <form class="search-area">
            <input type="text" placeholder="search here">
        <i class="fas fa-plus-square icon-add"></i>
        </form>
        <div class="button">
            <ul class='faculty-power'>
                <li>ADD Course</li>
                <li>Upload Notice</li>
                <li>Profile</li>
            </ul>
        </div>
    
    </div>


     <div class='faculty-title'>
        <i class="fas fa-arrow-right"></i>
         <p>Faculty Class</p>
     </div>
    <div class="faculty-department">
          <div class="fact-depart-cart">
            <h2 class='title'>CSE</h2>
          </div>
          <div class="fact-depart-cart">
             <h2 class='title'>ME</h2>
        </div>
       
        <div class="fact-depart-cart">
            <h2 class='title'>EEE</h2>
        </div>
        <div class="fact-depart-cart">
            <h2 class='title'>CE</h2>
        </div>
        <div class="fact-depart-cart">
            <h2 class='title'>CE</h2>
        </div>
    </div>

    <div class="faculty-class">
        <div class="fact-class">
            <p class='class-title'>Sunday</p>
          <div class="class">
              <p>Java</p>
          </div>
          <div class="class">
            <p >Java</p>
        </div>
        <div class="class">
            <p >Java</p>
        </div>
        </div>
        <div class="fact-class">
            <p class='class-title'>Sunday</p>
          <div class="class">
              <p >Java</p>
          </div>
          <div class="class">
            <p >Java</p>
        </div>
        <div class="class">
            <p >Java</p>
        </div>
        </div>
        
        <div class="fact-class">
            <p class='class-title'>Sunday</p>
          <div class="class">
              <p >Java</p>
          </div>
          <div class="class">
            <p >Java</p>
        </div>
        <div class="class">
            <p >Java</p>
        </div>
        </div>
        <div class="fact-class">
            <p class='class-title'>Sunday</p>
          <div class="class">
              <p>Java</p>
          </div>
          <div class="class">
            <p >Java</p>
        </div>
        <div class="class">
            <p >Java</p>
        </div>
        </div>
        
       
  </div>


    
</section>