



<img class='img-landingPage' src='https//edu.google.com/images/social_image.jpg'  class='container'>
   
    <div class="contholder">
    <a href='/getDepartment'><button >Student admission</button></a>
   <div class='login-icon' >
       <a href='/login'>
                  Login
       </a> 
      </div>

 <a href='/facultyRegister'><button > Apply for Faculy position</button></a> 
   </div>
</img  >
