<section class="login">
    
    <form class='form-login' action="/login" method="post">
            <h4 class='login-title'>Log in</h4>
           <input type="text" name='id' placeholder="Id">
           <input type="text" name='email' placeholder="Email">
           <button class='login-button'>Login</button>
    </form>
    
</section>